
//Modern border-box applied everywhere.
html {
  box-sizing: border-box;
}

// inherit box-sizing
*,
*:before,
*:after {
  box-sizing: inherit;
}

// set upp body color
body{
  padding: 0;
  background-color: rgb(0, 0, 0);
  margin: auto;
  height: 100%;
   
   h1, h2, h3, h4, p, a {
     color: white;
   }
   
}

// No decoration of links
body a:link{
  text-decoration: none;
}

// Responsive images
img {
  width: 100%;
  height: auto;		
}




