//Placeholders and classes: ;


/// Book now button
%bookbtn{
	display: flex;
  justify-content: center;
	background-color: #101010;
	border: 2px solid white;
	width: 190px;
	height: 80px;
	margin-top: 10px;
}