
///Breadcrumbs
.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color: $brightbg;
    li {
        display: inline;
        font-size: 18px;
        &+li:before{
            padding: 8px;
            color: black;
            content: "/\00a0";
        }
        a {
            color: #0275d8;
            &:hover {
                color: #01447e;
                text-decoration: underline;
            }
        }
    }
}