
///Styling for the site-wide header element
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 80px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 10px;
    }
    h3 {
        color: rgb(224, 221, 221);
        font-family: 'Alex Brush', cursive;
        font-size: 30px;
        margin-top: -40px;
        margin-bottom: 10px;
    }
    @include respond-to('medium') {
        grid-area: header;
    }
}