.services {
    background-color: rgb(245, 245, 245);
    padding-top: 10px;
     h1, p, h2, h3, h4 {
         color: black;
     }
     p {
        font-family: 'Raleway', sans-serif;
     }   
}
.beauty {
    width: 50px;
    height: 70px;
}
.title {
    display: flex;
    justify-content: center;
}